<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>减肥班学员管理系统</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootswatch.min.css" />
    <link rel="stylesheet" href="../static/css/wangguoqianghoutai.css" />
    <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

      <style>
          .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
            padding: 8px;
            line-height: 2.0;
            vertical-align: middle;
            border-top: 1px solid #dddddd;
            text-align: -webkit-center;
        }
      </style>
  </head>

  <body class="body">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/coach_index/">减肥班学员管理系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            		<li><a href="/coach_index/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></li>
                    <li class="active"><a href="/coach_student/"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;我的学员</a></li>
            		<li><a href="/coach_inputdata/"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;学员数据更新</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                <li style="padding-top: 13px;color: white;">欢迎，教练：</li>
          		<li class="dropdown">
				  <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{ pageusername }}

				</a>

				</li>
          	<li><a href="/signout" style="padding-right: 3px;"><span class="glyphicon glyphicon-off">&nbsp;退出</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    	<div class="row">
      <div class="col-md-2">
      	<div class="list-group">
					<a href="/coach_student/" class="list-group-item active">学员管理</a>
                    <a href="/coach_search_student/" class="list-group-item">学员搜索</a>
      	</div>
      </div>
      <div class="col-md-10">
      		<div class="page-header">
      			<h4>学员管理</h4>
      		</div>
						<ul class="nav nav-tabs">
						  <li role="presentation" class="active"><a href="/coach_student/">学员管理</a></li>
						  <li><a href="/coach_search_student/" class="list-group-item">学员搜索</a></li>
                            <li class="alert alert-info" role="alert" style="padding-left: 15px;margin-left: 15px;">
					  <strong>提示：</strong>身高体重为学员入学时的体重
					</li>
						</ul>

						<table class="table table-responsive table-striped">
                        <thead>
                        <tr><th>用户名</th><th>性别</th><th>身高</th><th>体重</th><th>出生日期</th></tr>
                        </thead>
						<tbody id="tbody">
                        {% for i in query_set %}
                            <tr id="infotr"><td id="uid" style="display: none">{{ i.id }}</td><td id="username">{{ i.username }}</td><td>{{ i.gender }}</td><td>{{ i.height }}</td><td>{{ i.weight }}</td><td>{{ i.birth }}</td>
								<td><div class="btn-group">
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								操作 <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu">
								<li><a class="btn-default" href="/coach_student_edit/?id={{ i.id }}" data-whatever="@getbootstrap" id="bianji">编辑</a></li>
								<li><a id="delete">删除</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">减肥历程</a></li>
								  </ul>
								</div>
								</td>
							</tr>
                            {% endfor %}
                        </tbody>

						</table>
      </div>
    	</div>


            {{ page|safe }}


    </div>

   <section id="footer">
       	<div class="container">
       		<p>Copyright © 2017-2018  www.wangguoqiang.com 沪ICP备13014270号-4</p>
       	</div>
    </section>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/moment-with-locales.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $('#tbody').delegate('#delete',"click",function () {
            var username=$(this).closest('#infotr').children('#username').text()
            var id=$(this).closest('#infotr').children('#uid').text()
            var choice=confirm('确认删除'+"'"+username+"'"+"?")
            if (choice){
                $.ajax({
                    url:'/userdelete/',
                    data:{id:id},
                    type:'POST',
                    success:function (data) {
                        console.log(data)
                        window.location.reload()
                    }
                })
            }
        })
    </script>

    <script>
            $("#form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            language: 'zh-CN',
            autoclose: true,
            minView: "month",
            pickerPosition: "top-right",
            locale: moment.locale('zh-cn')
        });
    </script>

  </body>
</html>