<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>减肥班学员管理系统</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootswatch.min.css" />
    <link rel="stylesheet" href="../static/css/wangguoqianghoutai.css" />
    <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
      <style>
          .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
            padding: 8px;
            line-height: 2.0;
            vertical-align: middle;
            border-top: 1px solid #dddddd;
            text-align: -webkit-center;
        }
          label, .control-label, .help-block, .checkbox, .radio {
            font-size: 15px;
            font-weight: normal;
        }
      </style>
  </head>

  <body class="index">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/coach_index/">减肥班学员管理系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            		<li><a href="/coach_index/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></li>
                    <li><a href="/coach_student/"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;我的学员</a></li>
            		<li class="active"><a href="/coach_inputdata/"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;学员数据更新</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                <li style="padding-top: 13px;color: white;">欢迎，教练：</li>
          		<li class="dropdown">
				  <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{ pageusername }}

				</a>

				</li>
          	<li><a href="/signout" style="padding-right: 3px;"><span class="glyphicon glyphicon-off">&nbsp;退出</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



    <div class="container">
    	<div class="row">
      <div class="col-md-2">
      	<div class="list-group">
					<a class="list-group-item active">修改信息</a>
      	</div>
      </div>
      <div class="col-md-10">
      		<div class="page-header">
      			<h4>修改信息</h4>
      		</div>
						<ul class="nav nav-tabs">
						  <li role="presentation" class="active"><a>修改信息</a></li>
						</ul>

						<form action="/coach_student_edit/" method="post">
                         <div class="form-group">
                        <label for="recipient-name" class="control-label hidden">ID</label>
                        <input type="text" class="form-control hidden" id="uid" name="uid" value="{{ info.id }}">
                          </div>
                          <div class="form-group">
                        <label for="recipient-name" class="control-label">用户名：</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ info.username }}" required>
                          </div>
                          <div class="form-group">
                        <label for="message-text" class="control-label" >密码(不修改默认原密码):</label>
                        <input type="password" class="form-control" id="pwd" name="pwd"placeholder="*******"></textarea>
                          </div>
                          <div class="form-group">
                        <label for="message-text" class="control-label">确认密码:</label>
                        <input type="password" class="form-control" id="pwdcomfirm" name="pwdcomfirm" placeholder="*******"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="name">性别：</label>
                            <select class="form-control" name="gender">
                              <option id="男">男</option>
                              <option id="女">女</option>
                            </select>
                          </div>
                              <div class="input-group date" id="form_datetime">
                            <label for="message-text" class="control-label">出生日期</label>
                                  <div class="input-group">
                                      <input type="text" class="form-control" id="birth" name="birth" value="{{ info.birth|safe }}" required>
                                  <span class="input-group-addon" style=" width: 50px; height: 30px;">
                                    <span class="glyphicon glyphicon-calendar" ></span>
                                  </span>
                                  </div>
                              </div>

                          <div class="form-group">
                        <label for="message-text" class="control-label">邮件地址:</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ info.email }}" required></textarea>
                          </div>
                          <div class="form-group">
                                <label for="choice">学员所属项目</label>
                                <input type="checkbox" id="editable" name="editable" value="editable"><span style="color: red">修改学员项目(修改后您无法管理该用户)</span><br>
                                     <select name="choice" class="form-control" id='change_item' disabled="disabled">
                                         {% for i in item_set %}
                                        <option id="{{ i.id }}" value={{ i.id }}>{{ i.itemname }}</option>
                                         {% endfor %}
                                     </select>
                          </div>
                                <a type="button" class="btn btn-default" data-dismiss="modal" href="/coach_student/">取消</a>
                                <button type="submit" id="edit" class="btn btn-primary">修改</button>
                        </form>


      </div>
    	</div>


            {{ page|safe }}


    </div>

   <section id="footer">
       	<div class="container">
       		<p>Copyright © 2017-2018  www.wangguoqiang.com 沪ICP备13014270号-4</p>
       	</div>
    </section>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/moment-with-locales.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $("#form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            language: 'zh-CN',
            autoclose: true,
            minView: "month",
            pickerPosition: "top-right",
            locale: moment.locale('zh-cn')
        });
    </script>
    <script>
        $(function () {

            if({{ info.choice_id }}){
                $("#{{ info.choice_id }}").attr('selected','selected')
            }

        })
    </script>
    <script>
        $(function (){
            $('#editable').bind('change',function () {
                var isChecked=$('#editable').is(':checked')
                if( isChecked ){
                $('#change_item').removeAttr('disabled')
            }
                else {
                $('#change_item').attr('disabled','true')
                }
            })

        })
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>