<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>上传</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        .showimg img{
            width: 200px;
            height: 150px;
        }
    </style>
</head>

<body>
<h2>form表单提交文件</h2>
<form method="post" action="imgtest.html" enctype="multipart/form-data">
    <label>名称</label><input type="text" id="name" name="name" maxlength="200"/><br>
    <input type="file" name="img">
    <input type="submit" value="提交">
</form>


<div class="showimg">
    {% for item in imglist %}
    <img src="/{{ item.path }}">
    {% endfor %}

</div>
</body>
</html>