<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico" />
{#    <script type="text/javascript" src="js/less.min.js" ></script>#}

    <title>减肥班学员管理系统</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootswatch.min.css" />
    <link rel="stylesheet" href="../static/css/wangguoqianghoutai.css" />

  </head>

  <body class="index">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/student_index/">减肥班学员管理系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            		<li class="active"><a href="/student_index/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></li>
                    <li><a href="/student_edit/"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;学员数据更新</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                <li style="padding-top: 13px;color: white;">欢迎，学员：</li>
          		<li class="dropdown">
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{ pageusername }}
                    </a>
				</li>
          	<li><a href="/signout" style="padding-right: 3px;"><span class="glyphicon glyphicon-off">&nbsp;退出</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						<h3 class="panel-title">所在项目统计——{{ the_name }}</h3>
						  </div>
						  	<table class="table table-responsive table-striped table-bordered">
						  		<thead>
						  			<tr><th>统计内容</th><th></th></tr>
						  		</thead>
						  		<tbody>
						  			<tr><th>学员总数</th><td>{{ usercount }}人</td></tr>
						  			<tr><th>男性学员</th><td>{{ malecount }}人</td></tr>
						  			<tr><th>女性学员</th><td>{{ femalecount }}人</td></tr>
                                    <tr><th>项目周期</th><td>{{ item_time }}天</td></tr>
                                    <tr><th>项目学费</th><td>{{ item_cost }}元</td></tr>

						  		</tbody>
						  	</table>


						</div>
    			</div>
    			<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						<h3 class="panel-title">教练备注</h3>
						  </div>
						  	<table class="table table-responsive table-striped table-bordered">
						  		<thead>
						  			<tr><th class="username">周数</th><th class="weight">体重(斤)</th><th class="beizhu">备注</th></tr>
						  		</thead>
						  		<tbody>
                                    <tr><th>入学</th><td>{{ week0 }}</td><td></td></tr>
                                    {% if week1 %}
						  			<tr><th>第一周</th><td>{{ week1 }}</td><td>{% if userinfo.week1_suggest%}
						  			{{ userinfo.week1_suggest }}
						  			{% endif %}</td></tr>
                                    {% endif %}

                                    {% if week2 %}
						  			<tr><th>第二周</th><td>{{ week2 }}</td><td>{% if userinfo.week2_suggest%}
						  			{{ userinfo.week2_suggest }}
						  			{% endif %}</td></tr>
                                    {% endif %}

                                    {% if week3 %}
						  			<tr><th>第三周</th><td>{{ week3 }}</td><td>{% if userinfo.week3_suggest%}
						  			{{ userinfo.week3_suggest }}
						  			{% endif %}</td></tr>
                                    {% endif %}

                                    {% if week4 %}
                                    <tr><th>第四周</th><td>{{ week4 }}</td><td>{% if userinfo.week4_suggest%}
						  			{{ userinfo.week4_suggest }}
						  			{% endif %}</td></tr>
                                    {% endif %}

                                    {% if week5 %}
                                    <tr><th>第五周</th><td>{{ week5 }}</td><td>{% if userinfo.week5_suggest%}
						  			{{ userinfo.week5_suggest }}
						  			{% endif %}</td></tr>
                                    {% endif %}

                                    {% if week6 %}
                                    <tr><th>第六周</th><td>{{ week6 }}</td><td>{% if userinfo.week6_suggest%}
						  			{{ userinfo.week6_suggest }}
						  			{% endif %}</td></tr>
                                    {% endif %}

                                    {% if week7 %}
                                    <tr><th>第七周</th><td>{{ week7 }}</td><td>{% if userinfo.week7_suggest%}
						  			{{ userinfo.week7_suggest }}
						  			{% endif %}</td></tr>
                                    {% endif %}

                                    {% if week8 %}
                                    <tr><th>第八周</th><td>{{ week8 }}</td><td>{% if userinfo.week8_suggest%}
						  			{{ userinfo.week8_suggest }}
						  			{% endif %}</td></tr>
                                    {% endif %}
						  		</tbody>
						  	</table>
						</div>
    			</div>
            </div>
            <div class="row">
    			<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">体重变化图</div>
						    <div class="panel-body">
						    	<canvas id="canvas" class="col-md-12">

						    	</canvas>
						    </div>
						</div>
    			</div>

            </div>
        </div>
   <section id="footer">
       	<div class="container">
       		<p>Copyright © 2017-2018  www.juedihome.site  沪ICP备18016382号-1</p>
       	</div>
    </section>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/Chart.js" ></script>
{#    <script type="text/javascript" src="../static/js/script.js" ></script>#}
    <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        </div>
  </body>
<script>
    var lineChartData = {
	//X坐标数据
	labels : ['入学','第一周','第二周','第三周','第四周','第五周','第六周','第七周','第八周',],
	datasets : [
		{
			//统计表的背景颜色
			fillColor : "rgba(255,255,255,0)",
			//统计表画笔颜色
			strokeColor : "#d61d1d",
			//点的颜色
			pointColor : "#d61d1d",
			//点边框的颜色
			pointStrokeColor : "#fff",
			//鼠标触发时点的颜色
			pointHighlightFill : "#fff",
			//鼠标触发时点边框的颜色
			pointHighlightStroke : "rgba(255,220,220,1)",
			//Y坐标数据
			data : {{ weekinfo }}
		}
	]

}
    var pieChart = [
                    {value: {{ malecount }}, color: "#fcc79c",label:"男"},
                    {value: {{ femalecount }}, color: "#beefd2",label:"女"},
        ];

window.onload = function() {
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myLine = new Chart(ctx).Line(lineChartData, {
        responsive: true,
        scaleOverride:true,
        scaleSteps:20,
        scaleStepWidth:10,
        scaleStartValue: 100,
        bezierCurve:false
    });
}
$(function(){
    var ctx1 = document.getElementById("canvas_gender").getContext("2d");
    window.myPie = new Chart(ctx1).Pie(pieChart,{
    responsive:true
    });
})
</script>
</html>