<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>减肥班学员管理系统</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootswatch.min.css" />
    <link rel="stylesheet" href="../static/css/wangguoqianghoutai.css" />
      <style>
          .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
            padding: 8px;
            line-height: 2.0;
            vertical-align: middle;
            border-top: 1px solid #dddddd;
            text-align: -webkit-center;
        }
          label, .control-label, .help-block, .checkbox, .radio {
            font-size: 15px;
            font-weight: normal;
        }
      </style>
  </head>

  <body class="body">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index/">减肥班学员管理系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            		<li><a href="/index/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;后台首页</a></li>
                    {% if coach %}
                    <li><a href="/user/"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;学员管理</a></li>
                    {% if manager %}
            		<li><a href="/system/"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;系统管理</a></li>
            		{% endif %}
                    <li><a href="/data/"><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;数据管理</a></li>
                    {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



    <div class="container">
    	<div class="row">
      <div class="col-md-2">
      	<div class="list-group">
					<a href="/user/" class="list-group-item active">用户管理</a>
					<a href="/usersearch/" class="list-group-item">用户搜索</a>
					<a class="list-group-item" data-toggle="modal" data-target="#adduser" data-whatever="@getbootstrap">添加用户</a>
      	</div>
      </div>
      <div class="col-md-10">
      		<div class="page-header">
      			<h4>编辑当前用户</h4>
      		</div>
						<ul class="nav nav-tabs">
						  <li role="presentation" class="active"><a href="/user/">用户管理</a></li>
						  <li role="presentation"><a href="/usersearch/">搜索用户</a></li>
						  <li role="presentation"><a data-toggle="modal" data-target="#adduser" data-whatever="@getbootstrap">添加用户</a></li>
						</ul>

						<form action="/useredit/" method="post">
                         <div class="form-group">
                        <label for="recipient-name" class="control-label hidden">ID</label>
                        <input type="text" class="form-control hidden" id="userid" name="userid" value="{{ info.id }}">
                          </div>
                          <div class="form-group">
                        <label for="recipient-name" class="control-label">用户名</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ info.username }}">
                          </div>
                          <div class="form-group">
                        <label for="message-text" class="control-label" >密码:</label>
                        <input type="password" class="form-control" id="pwd" name="pwd"></textarea>
                          </div>
                          <div class="form-group">
                        <label for="message-text" class="control-label">确认密码:</label>
                        <input type="password" class="form-control" id="pwdcomfirm" name="pwdcomfirm"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="name">性别</label>
                            <select class="form-control" name="gender">
                              <option id="男">男</option>
                              <option id="女">女</option>
                            </select>
                          </div>
                          <div class="form-group">
                        <label for="message-text" class="control-label">年龄</label>
                        <input type="text" class="form-control" id="age" name="age" value="{{ info.age }}">
                          </div>
                          <div class="form-group">
                        <label for="message-text" class="control-label">体重</label>
                        <input type="text" class="form-control" id="weight" name="weight" value="{{ info.weight }}">
                          </div>
                          <div class="form-group">
                        <label for="message-text" class="control-label">身高</label>
                        <input type="text" class="form-control" id="height" name="height" value="{{ info.height }}">
                          </div>
                          <div class="form-group">
                        <label for="message-text" class="control-label">请输入用户邮箱:</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ info.email }}"></textarea>
                          </div>
                          <div class="form-group">
                                <label for="choice">选择用户组</label>
                                     <select name="rank" id="rank" class="form-control">
                                        <option value=1  selected>基础用户</option>
                                        <option value=2 >中级用户</option>
                                        <option value=3 >高级用户</option>
                                     </select>
                          </div>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" id="edit" class="btn btn-primary">修改</button>
                        </form>


      </div>
    	</div>


            {{ page|safe }}


    </div>

   <section id="footer">
       	<div class="container">
       		<p>Copyright © 2017-2018  www.wangguoqiang.com 沪ICP备13014270号-4</p>
       	</div>
    </section>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>